node_modules/**/snyk
.DS_Store
.eslintcache
__tests__/**
.DS_Store
.eslintcache
.eslintignore
.eslintrc.json
.gitignore
.prettierrc.json
.tool-versions
.vscode/**
mobb-ai-tracer-*.vsix
package.sh
package-dev.sh
scripts/**
precommit-format.sh
src/**
tsconfig.eslint.json
tsconfig.json
vitest.config.ts
.env.*
package.json.bak
package-lock.json.bak
package.json.tmp
icon.svg
documentation/**
version-check.sh
publish.sh
